@model FirstWebApp.Models.Employee

<h2>Edit Employee</h2>
@using(Html.BeginForm("Edit","Employee",FormMethod.Post)){
    <table>
        <tr>
            <td>Employee ID</td>
            <td>@Html.DisplayFor(m=>m.Id)</td>
        </tr>
         <tr>
            <td>Employee Name</td>
            <td>@Html.EditorFor(m=>m.Name)</td>
        </tr>
         <tr>
            <td>Employee Age</td>
            <td>@Html.EditorFor(m=>m.Age)</td>
        </tr>
         <tr>
            <td colspan="2"><button class="btn btn-primary">Updatee Employee</button></td>
        </tr>
    </table>
}
<h2>
    @ViewBag.Message
</h2>
